<div class="banner-container">
    <img class="banner" src="../images/main-banner2.jpg" alt="homeFood" />
    <div class="text-centered">
        <h1>HOME FOOD</h1>
        <p>A Taste of authentic home cooked food at your door step.</p>
        <a href="#get-started"><button class="btn">Order Your Meal</button></a>
    </div>
</div>