<section id="cities">
    <div class="team-container">
        <h3>Explore Our Service By Cities</h3>
    </div>
    <div class="responsive1">
        <div class="gallery1">
            <img src="../images/city-images/toronto.jpg" alt="toronto-img" />
            <div class="description">Toronto</div>
        </div>
    </div>
    <div class="responsive1">
        <div class="gallery1">
            <img src="../images/city-images/scarborough.jpg" alt="scarborough-img" />
            <div class="description">Scarborough</div>
        </div>
    </div>
    <div class="responsive1">
        <div class="gallery1">
            <img src="../images/city-images/northyork.jpg" alt="north-york-img" />
            <div class="description">North York</div>
        </div>
    </div>
    <div class="responsive1">
        <div class="gallery1">
            <img src="../images/city-images/etobicoke.jpg" alt="etobicoke-img" />
            <div class="description">Etobicoke</div>
        </div>
    </div>
    <div class="responsive1">
        <div class="gallery1">
            <img src="../images/city-images/mississauga.jpg" alt="mississauga-img" />
            <div class="description">Mississauga</div>
        </div>
    </div>
    <div class="responsive1">
        <div class="gallery1">
            <img src="../images/city-images/brampton.jpg" alt="brampton-img" />
            <div class="description">Brampton</div>
        </div>
    </div><div class="responsive1">
        <div class="gallery1">
            <img src="../images/city-images/hamilton.jpg" alt="hamilton-img" />
            <div class="description">Hamilton</div>
        </div>
    </div>
    <div class="responsive1">
        <div class="gallery1">
            <img src="../images/city-images/kitchener.jpg" alt="kitchner-img" />
            <div class="description">Kitchener</div>
        </div>
    </div>
    <div class="clearfix1"></div>
</section>