<section id="get-started">
    <div class="row">
    <div class="column">
        <p><img src="../images/create-account.jpg" alt="create-account" /><br /><br />
        <h2>Create Account</h2>
        <h3>Very first step to use our application Sign Up.</h3>
        </p>
    </div>
    <div class="column">
        <p><img src="../images/how-to-login.jpg" alt="how-to-login" /><br /><br />
        <h2>Already user/ Login</h2>
        <h3>Login to start exploring different cuisine of food, order them sit back and relax.</h3>
        </p>
    </div>
    <div class="column">
        <p><img src="../images/order-food.png" alt="order-food" /><br /><br />
        <h2>Order Food</h2>
        <h3>Browse from our variety of options available and order your food and we will ensure it reaches to you fresh.</h3>
        </p>
    </div>
    <div class="column">
        <p><img src="../images/sitback-enjoy.jpg" alt="sitback-enjoy" /><br /><br />
        <h2>Sit Back and Enjoy</h2>
        <h3>Browse from our variety of options available and order your food and we will ensure it reaches to you fresh.</h3>
        </p>
    </div>
    </div>
</section>