<section id="gallary">
<div class="snapshot-container">
    <h3>
        Snapshot of the Application
    </h3>
</div>
<div class="responsive">
    <div class="gallery">
        <img src="../images/app-snapshot/launch-screen.jpg" alt="launch-screen" />
        <div class="description">Launch Screen</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
        <img src="../images/app-snapshot/welcome-screen.jpg" alt="welcome-screen" />
        <div class="description">Welcome Screen</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
        <img src="../images/app-snapshot/login-screen.jpg" alt="login-screen" />
        <div class="description">Login Screen</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
        <img src="../images/app-snapshot/user-registration-screen.png" alt="user-registration-screen" />
        <div class="description">User Registration Screen</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
        <img src="../images/app-snapshot/main-menu-screen.jpg" alt="main-menu" />
        <div class="description">Main Menu Screen</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
        <img src="../images/app-snapshot/special-menu-screen.jpg" alt="special-menu" />
        <div class="description">Special Menu Screen</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
        <img src="../images/app-snapshot/resturant-page.png" alt="resturant-page" />
        <div class="description">Resturant Screen</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
        <img src="../images/app-snapshot/resturant-page-for-tiffin-service.jpg" alt="resturant-page" />
        <div class="description">Resturant Page For Tiffin Service</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
        <img src="../images/app-snapshot/detail-menu-screen.jpg" alt="detailed-menu" />
        <div class="description">Detailed Menu Screen</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
        <img src="../images/app-snapshot/editable-menu-screen.jpg" alt="editable-menu" />
        <div class="description">Editable Menu Screen</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
        <img src="../images/app-snapshot/side-navigation-bar-page.jpg" alt="side-navigationbar" />
        <div class="description">Side NavigationBar</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
        <img src="../images/app-snapshot/contact-us-page.jpg" alt="contact-us" />
        <div class="description">Contact Us</div>
    </div>
</div>

<div class="clearfix1"></div>
</section>