<section id="team">
    <div class="team-container">
        <h3>Meet the Team</h3>
        <p>We are a team of highly focused people, who came up with the idea of creating an app that will give our
            customers
            a taste of authentic home cooked food at their door step.</p>
    </div>
    <div class="responsive1">
        <div class="gallery1">
            <img src="../images/team-gifs/arpita.gif" alt="arpita-img" />
            <div class="description">Arpita Sharma</div>
        </div>
    </div>
    <div class="responsive1">
        <div class="gallery1">
            <img src="../images/team-gifs/simran.gif" alt="simran-img" />
            <div class="description">Simranjot Singh</div>
        </div>
    </div>
    <div class="responsive1">
        <div class="gallery1">
            <img src="../images/team-gifs/pruthvi.gif" alt="pruthvi-img" />
            <div class="description">Pruthviraj Chauhan</div>
        </div>
    </div>
    <div class="responsive1">
        <div class="gallery1">
            <img src="../images/team-gifs/jaldeep.gif" alt="jaldeep-img" />
            <div class="description">Jaldeep Senjaliya</div>
        </div>
    </div>
    <div class="clearfix1"></div>
</section>