<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%- title %>
    </title>
    <link rel="stylesheet" href="css/main.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js" defer></script>
</head>

<body>
    <div class="wrapper">
        <div>
            <header><div class="navigation-bar">
                <div class="navigation-container">
                    {/* <a href="#home"><img src="../images/brand-logo.jpg" alt="brand-logo" /></a> */}
                    <li><a class="brand" href="/">HomeFood</a></li></header>
            <main>
                <%- body %>
            </main>
        </div>
            <%- include('../partials/footer.ejs')%>
    </div>

</body>

</html>