<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><Document></title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
         <div class="instructresponsive1">
                <div class="instructgallery">
                    <h3>Instructor</h3>
                    <img src="../images/team-gifs/instuctor.gif" alt="peter-img" />
                    <div class="description">Peter Sigurdson</div>
                    <div class="description">Subject : Node.js</div>
                </div>
            </div>
             <div class="responsive1">
                    <div class="gallery1">
                        <h3>Team Member</h3>
                        <img src="../images/team-gifs/arpita.gif" alt="arpita-img" />
                        <div class="description">Arpita Sharma (c0769770)</div>
                    </div>
                </div>
                <div class="responsive1">
                    <div class="gallery1">
                        <h3>Team Member</h3>
                        <img src="../images/team-gifs/simran.gif" alt="simran-img" />
                        <div class="description">Simranjot Singh (c0769770)</div>
                    </div>
                </div>
                <div class="responsive1">
                    <div class="gallery1">
                        <h3>Team Member</h3>
                        <img src="../images/team-gifs/pruthvi.gif" alt="pruthvi-img" />
                        <div class="description">Pruthviraj Chauhan (c0769770)</div>
                    </div>
                </div>
                <div class="responsive1">
                    <div class="gallery1">
                        <h3>Team Member</h3>
                        <img src="../images/team-gifs/jaldeep.gif" alt="jaldeep-img" />
                        <div class="description">Jaldeep Senjaliya (c0769770)</div>
                    </div>
                </div>
    </body>
 <div class="clearfix1"></div>
 
   
    
</body>

</html>